<aside class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item mb-3 ps-3">
            <a href="/" class="nav-link d-flex align-items-center fw-semibold <%= page === 'tableau' ? 'active' : '' %>"><i class="fa-solid fa-table-columns sidebar-icon me-2"></i>Tableau de bord</a>
        </li>
        <li class="nav-item mb-3 ps-3">
            <a href="/profile" class="nav-link d-flex align-items-center fw-semibold <%= page === 'profile' ? 'active' : '' %>"><i class="fa-solid fa-user sidebar-icon me-2"></i>Profil</a>
        </li>
        <li class="nav-item mb-3 ps-3">
            <a href="/settings" class="nav-link d-flex align-items-center fw-semibold <%= page === 'settings' ? 'active' : '' %>"><i class="fa-solid fa-gear sidebar-icon me-2"></i>Paramètres</a>
        </li>
    </ul>
</aside>
