<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('partials/header.ejs') %>
</head>
<body>
    <%- include('partials/nav.ejs', { nom }) %>
    <%- include('partials/sidebar.ejs') %>
    <main class="main-content" style="min-height:100vh; margin-left:180px;">
        <div class="container py-4">
            <h1 class="mb-4"><i class="fa-solid fa-table-columns me-2"></i>Tableau de bord</h1>
            <div class="alert alert-success">Bienvenue sur votre tableau de bord !</div>
        </div>
       


    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>
